.NavMainDiv {
  height: 80px;
  align-items: center;
}

.NavMainDiv .welcome_head {
  margin-left: 30px;
}

.NavMainDiv .logount_btn {
  height: 40px;
  margin-right: 30px;
}

.NavMainDiv {
  width: 100%;
}
