.note-head {
  border: 2px solid;
  align-items: center;
  margin: 10px 0 0 -10px;
  background: white;
  -moz-border-radius: 100px / 50px;
  -webkit-border-radius: 100px / 50px;
  border-radius: 125px / 50px;
  height: 60px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 15px;
  margin-left: 0px;
}
.note-head > h2 {
  font-size: 20px;
  margin: 0;
}

.noteTitle {
  cursor: pointer;
  font-size: 23px;
}

.no-exist {
  widows: 100%;
  display: flex;
  justify-content: center;
}

#dropdown-basic-button {
  margin-bottom: 10px;
}

#dropdown-basic-button:hover {
  color: #7e7e7e;
  background-color: #fff;
  border-color: #ced4da;
}

#dropdown-basic-button:active {
  color: #7e7e7e;
  background-color: #fff;
  border-color: #ced4da;
}
#dropdown-basic-button:focus {
  color: #7e7e7e;
  background-color: #fff;
  border-color: #ced4da;
  /* box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5); */
}
