.header-center {
  height: 90px;
  display: flex;
  align-items: center;
}
.header-center col {
  height: 100%;
}
.content-body {
  height: calc(100% - 90px);

}

.header-center .input-title {
  width: 80%;
  height: 100%;
}
.header-center .input-title > input {
  width: 100%;
  border: none;
  font-size: 30px;
}
.header-center .input-title > input:focus {
  border: none;
  outline: none;
}
.icon-div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.icon-1 {
  margin-right: 10px;
}
.header-center .icon-span {
  width: 50px;
  height: 50px;
  border: 2px solid;
  border-radius: 100%;
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
}

.content-Row {
  min-height: 200px;
  height: 99%;
}

.content-Row > textarea {
  height: 100%;
  width: 100%;
}

input:disabled {
  cursor: not-allowed;
  background: transparent;
}
input:focus {
  cursor: text;
}

.content-Row > textarea:disabled{
  cursor: not-allowed;
  background: transparent;
}